<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	galleryTitle="nexIRC v3.24"
	debugMode="true"
	splashDescription="IRC Client"
>
  <image imageURL="1.png"
	thumbURL="1_t.png"
	linkURL="1.png"
	linkTarget="_blank">
	<title>Main Window</title>
	<caption><![CDATA[The main windows of nexIRC.]]></caption>
  </image>
  <image imageURL="2.png"
	thumbURL="2_t.png"
	linkURL="2.png"
	linkTarget="_blank">
	<title>#defocus</title>
	<caption><![CDATA[Chatting in the #defocus channel on Freenode.]]></caption>
  </image>
  <image imageURL="3.png"
	thumbURL="3_t.png"
	linkURL="3.png"
	linkTarget="_blank">
	<title>Channel Folder</title>
	<caption><![CDATA[The channel folder.]]></caption>
  </image>
  <image imageURL="4.png"
	thumbURL="4_t.png"
	linkURL="4.png"
	linkTarget="_blank">
	<title>Network and Server Settings</title>
	<caption><![CDATA[Configure dialog shown, with Network and Server settings.]]></caption>
  </image>
  <image imageURL="5.png"
	thumbURL="5_t.png"
	linkURL="5.png"
	linkTarget="_blank">
	<title>User settings dialog</title>
	<caption><![CDATA[Configure dialog shown, with user settings.]]></caption>
  </image>
</juiceboxgallery>
