<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	galleryTitle="nexIRC v3.28"
	debugMode="true"
	splashDescription="IRC Client"
>
  <image imageURL="nirc328_1.jpg"
	thumbURL="nirc328_1t.jpg"
	linkURL="nirc328_1.jpg"
	linkTarget="_blank">
	<title>Main Window</title>
	<caption><![CDATA[The main window of nexIRC with the channel #defocus open.]]></caption>
  </image>
  <image imageURL="nirc328_2.jpg"
	thumbURL="nirc328_2t.jpg"
	linkURL="nirc328_2.jpg"
	linkTarget="_blank">
	<title>Recent Connections Menu</title>
	<caption><![CDATA[The main window of nexIRC with the recent connections menu open.]]></caption>
  </image>
  <image imageURL="nirc328_3.jpg"
	thumbURL="nirc328_3t.jpg"
	linkURL="nirc328_3.jpg"
	linkTarget="_blank">
	<title>Channel Folder</title>
	<caption><![CDATA[The channel folder.]]></caption>
  </image>
  <image imageURL="nirc328_4.jpg"
	thumbURL="nirc328_4t.jpg"
	linkURL="nirc328_4.jpg"
	linkTarget="_blank">
	<title>About Screen</title>
	<caption><![CDATA[The main window of nexIRC with the about screen open.]]></caption>
  </image>
  <image imageURL="nirc328_5.jpg"
	thumbURL="nirc328_5t.jpg"
	linkURL="nirc328_5.jpg"
	linkTarget="_blank">
	<title>Nickserv Login</title>
	<caption><![CDATA[The main window of nexIRC with the Nickserv login window open.]]></caption>
  </image>
  <image imageURL="nirc328_6.jpg"
	thumbURL="nirc328_6t.jpg"
	linkURL="nirc328_6.jpg"
	linkTarget="_blank">
	<title>The Channel List</title>
	<caption><![CDATA[The main window of nexIRC with the channel list open.]]></caption>
  </image>
  <image imageURL="nirc328_7.jpg"
	thumbURL="nirc328_7t.jpg"
	linkURL="nirc328_7.jpg"
	linkTarget="_blank">
	<title>Server Configuration</title>
	<caption><![CDATA[The main window of nexIRC with the customize window open on the servers tab.]]></caption>
  </image>
  <image imageURL="nirc328_8.jpg"
	thumbURL="nirc328_8t.jpg"
	linkURL="nirc328_8.jpg"
	linkTarget="_blank">
	<title>User Configuration</title>
	<caption><![CDATA[The main window of nexIRC with the customize window open on the user configuration tab.]]></caption>
  </image>
  <image imageURL="nirc328_9.jpg"
	thumbURL="nirc328_9t.jpg"
	linkURL="nirc328_9.jpg"
	linkTarget="_blank">
	<title>Interface Settings</title>
	<caption><![CDATA[The main window of nexIRC with the customize window open on the Interface Settings tab.]]></caption>
  </image>
  <image imageURL="nirc328_10.jpg"
	thumbURL="nirc328_10t.jpg"
	linkURL="nirc328_10.jpg"
	linkTarget="_blank">
	<title>Text Settings</title>
	<caption><![CDATA[The main window of nexIRC with the customize window open on the Text Settings tab.]]></caption>
  </image>
  <image imageURL="nirc328_11.jpg"
	thumbURL="nirc328_11t.jpg"
	linkURL="nirc328_11.jpg"
	linkTarget="_blank">
	<title>DCC Settings</title>
	<caption><![CDATA[The main window of nexIRC with the customize window open on the Dcc Settings tab.]]></caption>
  </image>
</juiceboxgallery>
